In [ ]:
import redapy

In [1]:
# PRUEBA CENSO 2017 DISTRITOS
var1 = ["Hogar.C3P213"]
area_d = ["Departamento"]
ser_url = r'C:\\Users\\malag\\Downloads\\chromedriver.exe'

query=redapy.query_final(tipo='Frequency',
                         censo='CPV2017_D',
                         var1=var1,
                         area_break=area_d)

df = redapy.make_query_2017(query,ser_url,mensajes=False) # PRUEBA SIN MENSAJES. CAMBIAR A TRUE O BORRAR ARGUMENTO PARA QUE SE MUESTREN LOS MENSAJES

Tabla scrapeada con éxito en: 0:00:05.310406

In [ ]:
# PRUEBA CENSO 2017 MANZANAS
var1 = ["Hogar.C3P213"]
area_d = ["Manzana"]
selection = ["Distrito 150140"] #Distrito SURCO
ser_url = r'C:\\Users\\malag\\Downloads\\chromedriver.exe'

query=redapy.query_final(tipo='Frequency',
                         censo='CPV2017_M',
                         var1=var1,
                         area_break=area_d,selection=selection)

df = redapy.make_query_2017(query,ser_url)

In [29]:
## Energia con la cocina es gas natural según sexo del jefe del hogar
query=redapy.query_final(tipo="Crosstab", var1="Hogar.C3P13", var2="Hogar.sexjef",
                         area_break="distrito", selection="provincia 1501")

df = redapy.make_query_2017(query).pipe(redapy.cross_table)

Scrapeo iniciado
Se cargó página REDATAM con éxito
La tabla cargó completamente
Tabla scrapeada con éxito en: 0:00:06.700076

In [30]:
df.head()

                                        freq
ubigeo fila               columna
150101 No usa gas natural Jefe hombre  43446
                          Jefe mujer   27901
                          Total        71347
       Sí usa gas natural Jefe hombre   4671
                          Jefe mujer    2647